<!-- Navbar -->
<!-- link_to is a helper method provided by rails -->
<nav>
<%= link_to 'Home', root_path%>
|
<%= link_to 'Questions', questions_path%>
|
<%= link_to 'New Question', new_question_path%>
|
<%= link_to 'Contact Us', contact_path%>
</nav>